<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col md-4">
                <h4>Company</h4>
                <nav class="nav flex-column">
                    <a>Frequently asked Questions</a>
                    <a>Terms & Conditions</a>
                    <a>Privacy policy</a>
                    <a>About us</a>
                </nav>
            </div>
            <div class="col md-4">
                <h4>Support</h4>
                <nav class="nav flex-column">
                    <a>Troubleshoot</a>
                    <a>Report a bug</a>
                    <a>API</a>
                    <a>Privacy policy</a>
                </nav>
            </div>
            <div class="col md-4">
                <h4>Company</h4>
                <nav class="nav flex-column">
                    <a>Frequently asked Questions</a>
                    <a>Terms & Conditions</a>
                    <a>Privacy policy</a>
                    <a>About us</a>
                </nav>
            </div>
        </div>
        <hr>
        <p style="font-size: 12px;">Luggage &copy; &nbsp; All Rights Reserved.</p>
    </div>
</div>