<app-navbar></app-navbar>
<div class="container">
    <div class="card">
        <div class="card-header">
            Business Working Hours
        </div>
        <div class="card-body">
            <div class="spinner-container" *ngIf="isLoading">
                <mat-spinner diameter="20"></mat-spinner>
            </div>
            <form [formGroup]="businessHoursForm">
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <h6>Sunday</h6>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label>Open</label>
                        <select class="form-control" formControlName="sundayOpen" [ngClass]="{ 'is-invalid': submitted && f.sundayOpen.errors}">
                            <option value="Closed">Closed</option>
                            <option value="12 : 00 AM">12 : 00 AM</option>
                            <option value="1 : 00 AM">1 : 00 AM</option>
                            <option value="2 : 00 AM">2 : 00 AM</option>
                            <option value="3 : 00 AM">3 : 00 AM</option>
                            <option value="4 : 00 AM">4 : 00 AM</option>
                            <option value="5 : 00 AM">5 : 00 AM</option>
                            <option value="6 : 00 AM">6 : 00 AM</option>
                            <option value="7 : 00 AM">7 : 00 AM</option>
                            <option value="8 : 00 AM">8 : 00 AM</option>
                            <option value="9 : 00 AM">9 : 00 AM</option>
                            <option value="10 : 00 AM">10 : 00 AM</option>
                            <option value="11 : 00 AM">11 : 00 AM</option>
                        </select>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div>Sunday opening time is required</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label>Close</label>
                        <select class="form-control" formControlName="sundayClose" [ngClass]="{ 'is-invalid': submitted && f.sundayClose.errors}">
                            <option value="Closed">Closed</option>
                            <option value="12 : 00 PM">12 : 00 PM</option>
                            <option value="1 : 00 PM">1 : 00 PM</option>
                            <option value="2 : 00 PM">2 : 00 PM</option>
                            <option value="3 : 00 PM">3 : 00 PM</option>
                            <option value="4 : 00 PM">4 : 00 PM</option>
                            <option value="5 : 00 PM">5 : 00 PM</option>
                            <option value="6 : 00 PM">6 : 00 PM</option>
                            <option value="7 : 00 PM">7 : 00 PM</option>
                            <option value="8 : 00 PM">8 : 00 PM</option>
                            <option value="9 : 00 PM">9 : 00 PM</option>
                            <option value="10 : 00 PM">10 : 00 PM</option>
                            <option value="11 : 00 PM">11 : 00 PM</option>
                        </select>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div>Sunday closing time is required</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <h6>Monday</h6>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label>Open</label>
                        <select class="form-control" formControlName="mondayOpen" [ngClass]="{ 'is-invalid': submitted && f.mondayOpen.errors}">
                            <option value="Closed">Closed</option>
                            <option value="12 : 00 AM">12 : 00 AM</option>
                            <option value="1 : 00 AM">1 : 00 AM</option>
                            <option value="2 : 00 AM">2 : 00 AM</option>
                            <option value="3 : 00 AM">3 : 00 AM</option>
                            <option value="4 : 00 AM">4 : 00 AM</option>
                            <option value="5 : 00 AM">5 : 00 AM</option>
                            <option value="6 : 00 AM">6 : 00 AM</option>
                            <option value="7 : 00 AM">7 : 00 AM</option>
                            <option value="8 : 00 AM">8 : 00 AM</option>
                            <option value="9 : 00 AM">9 : 00 AM</option>
                            <option value="10 : 00 AM">10 : 00 AM</option>
                            <option value="11 : 00 AM">11 : 00 AM</option>
                        </select>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div>Monday opening time is required</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label>Close</label>
                        <select class="form-control" formControlName="mondayClose" [ngClass]="{ 'is-invalid': submitted && f.mondayClose.errors}">
                            <option value="Closed">Closed</option>
                            <option value="12 : 00 PM">12 : 00 PM</option>
                            <option value="1 : 00 PM">1 : 00 PM</option>
                            <option value="2 : 00 PM">2 : 00 PM</option>
                            <option value="3 : 00 PM">3 : 00 PM</option>
                            <option value="4 : 00 PM">4 : 00 PM</option>
                            <option value="5 : 00 PM">5 : 00 PM</option>
                            <option value="6 : 00 PM">6 : 00 PM</option>
                            <option value="7 : 00 PM">7 : 00 PM</option>
                            <option value="8 : 00 PM">8 : 00 PM</option>
                            <option value="9 : 00 PM">9 : 00 PM</option>
                            <option value="10 : 00 PM">10 : 00 PM</option>
                            <option value="11 : 00 PM">11 : 00 PM</option>
                        </select>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div>Monday closing time is required</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <h6>Tuesday</h6>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label>Open</label>
                        <select class="form-control" formControlName="tuesdayOpen" [ngClass]="{ 'is-invalid': submitted && f.tuesdayOpen.errors}">
                            <option value="Closed">Closed</option>
                            <option value="12 : 00 AM">12 : 00 AM</option>
                            <option value="1 : 00 AM">1 : 00 AM</option>
                            <option value="2 : 00 AM">2 : 00 AM</option>
                            <option value="3 : 00 AM">3 : 00 AM</option>
                            <option value="4 : 00 AM">4 : 00 AM</option>
                            <option value="5 : 00 AM">5 : 00 AM</option>
                            <option value="6 : 00 AM">6 : 00 AM</option>
                            <option value="7 : 00 AM">7 : 00 AM</option>
                            <option value="8 : 00 AM">8 : 00 AM</option>
                            <option value="9 : 00 AM">9 : 00 AM</option>
                            <option value="10 : 00 AM">10 : 00 AM</option>
                            <option value="11 : 00 AM">11 : 00 AM</option>
                        </select>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div>Tuesday opening time is required</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label>Close</label>
                        <select class="form-control" formControlName="tuesdayClose" [ngClass]="{ 'is-invalid': submitted && f.tuesdayClose.errors}">
                            <option value="Closed">Closed</option>
                            <option value="12 : 00 PM">12 : 00 PM</option>
                            <option value="1 : 00 PM">1 : 00 PM</option>
                            <option value="2 : 00 PM">2 : 00 PM</option>
                            <option value="3 : 00 PM">3 : 00 PM</option>
                            <option value="4 : 00 PM">4 : 00 PM</option>
                            <option value="5 : 00 PM">5 : 00 PM</option>
                            <option value="6 : 00 PM">6 : 00 PM</option>
                            <option value="7 : 00 PM">7 : 00 PM</option>
                            <option value="8 : 00 PM">8 : 00 PM</option>
                            <option value="9 : 00 PM">9 : 00 PM</option>
                            <option value="10 : 00 PM">10 : 00 PM</option>
                            <option value="11 : 00 PM">11 : 00 PM</option>
                        </select>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div>Tuesday closing time is required</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <h6>Wednesday</h6>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label>Open</label>
                        <select class="form-control" formControlName="wednesdayOpen" [ngClass]="{ 'is-invalid': submitted && f.wednesdayOpen.errors}">
                            <option value="Closed">Closed</option>
                            <option value="12 : 00 AM">12 : 00 AM</option>
                            <option value="1 : 00 AM">1 : 00 AM</option>
                            <option value="2 : 00 AM">2 : 00 AM</option>
                            <option value="3 : 00 AM">3 : 00 AM</option>
                            <option value="4 : 00 AM">4 : 00 AM</option>
                            <option value="5 : 00 AM">5 : 00 AM</option>
                            <option value="6 : 00 AM">6 : 00 AM</option>
                            <option value="7 : 00 AM">7 : 00 AM</option>
                            <option value="8 : 00 AM">8 : 00 AM</option>
                            <option value="9 : 00 AM">9 : 00 AM</option>
                            <option value="10 : 00 AM">10 : 00 AM</option>
                            <option value="11 : 00 AM">11 : 00 AM</option>
                        </select>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div>Wednesday opening time is required</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label>Close</label>
                        <select class="form-control" formControlName="wednesdayClose" [ngClass]="{ 'is-invalid': submitted && f.wednesdayClose.errors}">
                            <option value="Closed">Closed</option>
                            <option value="12 : 00 PM">12 : 00 PM</option>
                            <option value="1 : 00 PM">1 : 00 PM</option>
                            <option value="2 : 00 PM">2 : 00 PM</option>
                            <option value="3 : 00 PM">3 : 00 PM</option>
                            <option value="4 : 00 PM">4 : 00 PM</option>
                            <option value="5 : 00 PM">5 : 00 PM</option>
                            <option value="6 : 00 PM">6 : 00 PM</option>
                            <option value="7 : 00 PM">7 : 00 PM</option>
                            <option value="8 : 00 PM">8 : 00 PM</option>
                            <option value="9 : 00 PM">9 : 00 PM</option>
                            <option value="10 : 00 PM">10 : 00 PM</option>
                            <option value="11 : 00 PM">11 : 00 PM</option>
                        </select>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div>Wednesday closing time is required</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <h6>Thursday</h6>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label>Open</label>
                        <select class="form-control" formControlName="thursdayOpen" [ngClass]="{ 'is-invalid': submitted && f.thursdayOpen.errors}">
                            <option value="Closed">Closed</option>
                            <option value="12 : 00 AM">12 : 00 AM</option>
                            <option value="1 : 00 AM">1 : 00 AM</option>
                            <option value="2 : 00 AM">2 : 00 AM</option>
                            <option value="3 : 00 AM">3 : 00 AM</option>
                            <option value="4 : 00 AM">4 : 00 AM</option>
                            <option value="5 : 00 AM">5 : 00 AM</option>
                            <option value="6 : 00 AM">6 : 00 AM</option>
                            <option value="7 : 00 AM">7 : 00 AM</option>
                            <option value="8 : 00 AM">8 : 00 AM</option>
                            <option value="9 : 00 AM">9 : 00 AM</option>
                            <option value="10 : 00 AM">10 : 00 AM</option>
                            <option value="11 : 00 AM">11 : 00 AM</option>
                        </select>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div>Thursday opening time is required</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label>Close</label>
                        <select class="form-control" formControlName="thursdayClose" [ngClass]="{ 'is-invalid': submitted && f.thursdayClose.errors}">
                            <option value="Closed">Closed</option>
                            <option value="12 : 00 PM">12 : 00 PM</option>
                            <option value="1 : 00 PM">1 : 00 PM</option>
                            <option value="2 : 00 PM">2 : 00 PM</option>
                            <option value="3 : 00 PM">3 : 00 PM</option>
                            <option value="4 : 00 PM">4 : 00 PM</option>
                            <option value="5 : 00 PM">5 : 00 PM</option>
                            <option value="6 : 00 PM">6 : 00 PM</option>
                            <option value="7 : 00 PM">7 : 00 PM</option>
                            <option value="8 : 00 PM">8 : 00 PM</option>
                            <option value="9 : 00 PM">9 : 00 PM</option>
                            <option value="10 : 00 PM">10 : 00 PM</option>
                            <option value="11 : 00 PM">11 : 00 PM</option>
                        </select>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div>Thursday closing time is required</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <h6>Friday</h6>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label>Open</label>
                        <select class="form-control" formControlName="fridayOpen" [ngClass]="{ 'is-invalid': submitted && f.fridayOpen.errors}">
                            <option value="Closed">Closed</option>
                            <option value="12 : 00 AM">12 : 00 AM</option>
                            <option value="1 : 00 AM">1 : 00 AM</option>
                            <option value="2 : 00 AM">2 : 00 AM</option>
                            <option value="3 : 00 AM">3 : 00 AM</option>
                            <option value="4 : 00 AM">4 : 00 AM</option>
                            <option value="5 : 00 AM">5 : 00 AM</option>
                            <option value="6 : 00 AM">6 : 00 AM</option>
                            <option value="7 : 00 AM">7 : 00 AM</option>
                            <option value="8 : 00 AM">8 : 00 AM</option>
                            <option value="9 : 00 AM">9 : 00 AM</option>
                            <option value="10 : 00 AM">10 : 00 AM</option>
                            <option value="11 : 00 AM">11 : 00 AM</option>
                        </select>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div>Friday opening time is required</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label>Close</label>
                        <select class="form-control" formControlName="fridayClose" [ngClass]="{ 'is-invalid': submitted && f.fridayClose.errors}">
                            <option value="Closed">Closed</option>
                            <option value="12 : 00 PM">12 : 00 PM</option>
                            <option value="1 : 00 PM">1 : 00 PM</option>
                            <option value="2 : 00 PM">2 : 00 PM</option>
                            <option value="3 : 00 PM">3 : 00 PM</option>
                            <option value="4 : 00 PM">4 : 00 PM</option>
                            <option value="5 : 00 PM">5 : 00 PM</option>
                            <option value="6 : 00 PM">6 : 00 PM</option>
                            <option value="7 : 00 PM">7 : 00 PM</option>
                            <option value="8 : 00 PM">8 : 00 PM</option>
                            <option value="9 : 00 PM">9 : 00 PM</option>
                            <option value="10 : 00 PM">10 : 00 PM</option>
                            <option value="11 : 00 PM">11 : 00 PM</option>
                        </select>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div>Friday closing time is required</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <h6>Saturday</h6>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label>Open</label>
                        <select class="form-control" formControlName="saturdayOpen" [ngClass]="{ 'is-invalid': submitted && f.saturdayOpen.errors}">
                            <option value="Closed">Closed</option>
                            <option value="12 : 00 AM">12 : 00 AM</option>
                            <option value="1 : 00 AM">1 : 00 AM</option>
                            <option value="2 : 00 AM">2 : 00 AM</option>
                            <option value="3 : 00 AM">3 : 00 AM</option>
                            <option value="4 : 00 AM">4 : 00 AM</option>
                            <option value="5 : 00 AM">5 : 00 AM</option>
                            <option value="6 : 00 AM">6 : 00 AM</option>
                            <option value="7 : 00 AM">7 : 00 AM</option>
                            <option value="8 : 00 AM">8 : 00 AM</option>
                            <option value="9 : 00 AM">9 : 00 AM</option>
                            <option value="10 : 00 AM">10 : 00 AM</option>
                            <option value="11 : 00 AM">11 : 00 AM</option>
                        </select>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div>Saturday opening time is required</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label>Close</label>
                        <select class="form-control" formControlName="saturdayClose" [ngClass]="{ 'is-invalid': submitted && f.saturdayClose.errors}">
                            <option value="Closed">Closed</option>
                            <option value="12 : 00 PM">12 : 00 PM</option>
                            <option value="1 : 00 PM">1 : 00 PM</option>
                            <option value="2 : 00 PM">2 : 00 PM</option>
                            <option value="3 : 00 PM">3 : 00 PM</option>
                            <option value="4 : 00 PM">4 : 00 PM</option>
                            <option value="5 : 00 PM">5 : 00 PM</option>
                            <option value="6 : 00 PM">6 : 00 PM</option>
                            <option value="7 : 00 PM">7 : 00 PM</option>
                            <option value="8 : 00 PM">8 : 00 PM</option>
                            <option value="9 : 00 PM">9 : 00 PM</option>
                            <option value="10 : 00 PM">10 : 00 PM</option>
                            <option value="11 : 00 PM">11 : 00 PM</option>
                        </select>
                        <div *ngIf="submitted" class="invalid-feedback">
                            <div>Saturday closing time is required</div>
                        </div>
                    </div>
                </div>
                <hr>
                <button *ngIf="state === false" type="button" (click)="submit()" class="btn btn-info">Save</button>
                <button *ngIf="state === true" type="button" (click)="update()" class="btn btn-info">Update</button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>