.container {
    margin-top: 50px;
    margin-bottom: 50px;
    select {
        border-radius: 0px;
        font-size: 13px;
        outline: none;
        box-shadow: none !important;
    }
    button {
        border-radius: 0px;
    }
}

@media only screen and (max-width: 768px) {
    // .row {
    //     display: flex;
    //     flex-direction: column;
    // }
}