<app-hero-section></app-hero-section>
<div class="container">
    <div class="mat-elevation-z8">
        <form [formGroup]="filterForm">
            <div class="date-block">
                <div class="date-block__list">
                    <mat-form-field>
                        <input matInput readonly [min]="minDate" [max]="maxDate" [matDatepicker]="fromDate" placeholder="From Date" formControlName="fromDate" required>
                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="date-block__list">
                    <mat-form-field>
                        <input matInput readonly [min]="minDate" [max]="maxDate" [matDatepicker]="toDate" placeholder="To Date" formControlName="toDate" required>
                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                        <mat-datepicker #toDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <button type="button" class="btn btn-primary" (click)="applyFilter1()">Filter</button>
                <button type="button" class="btn btn-info" (click)="reset()">
                    <fa name="retweet"></fa>
                </button>
                <button type="button" class="btn btn-success" (click)="exporter.exportTable({ExportType: 'xlsx'}, {fileName: 'Enrolments'})">Excel 
                    <fa name="download"></fa>
                </button>
            </div>
        </form>
        <table mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" [hiddenColumns]="[0]">
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> No </th>
                <td mat-cell *matCellDef="let booking; let i = index;"> {{i+1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef> First Name </th>
                <td mat-cell *matCellDef="let booking"> {{booking.customer.firstname | titlecase}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                <td mat-cell *matCellDef="let booking"> {{booking.customer.lastname | titlecase}} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let booking"> {{booking.status}} </td>
            </ng-container>

            <!-- Time Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date Booked </th>
                <td mat-cell *matCellDef="let booking"> {{booking.date | date : 'EEE, MMM d, h:mm:ss'}} </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let booking">
                    <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
                     <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row._id)"></tr>
        </table>
        <div class="d-flex justify-content-center" *ngIf="isLoading === true">
            <mat-spinner diameter="20" style="margin-top: 20px;"></mat-spinner>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

</div>