<app-navbar></app-navbar>
<div class="container">
    <div class="card">
        <div class="card-header">
            Booking Details
        </div>
        <div class="card-body">
            <div class="spinner-container" *ngIf="isLoading">
                <mat-spinner diameter="20"></mat-spinner>
            </div>
            <p class="card-text">Name: {{booking.customer.firstname}}</p>
            <p class="card-text">Phone: {{booking.customer.phone}}</p>
            <p class="card-text">Email: {{booking.customer.email}}</p>
            <p class="card-text">Status: {{booking.status}}</p>
            <p class="card-text">Date: {{booking.date | date : 'EEE, MMM d, h:mm:ss'}}</p>

            <button *ngIf="status === 'Pending'" type="button" class="btn btn-success" (click)="approve()">Approve</button>
            <button *ngIf="status === 'Active'" type="button" class="btn btn-success" (click)="complete()">Complete</button>

        </div>
    </div>

</div>
<app-footer></app-footer>