.container {
    margin-top: 50px;
    margin-bottom: 50px;
    .card {
        button {
            border-radius: 0px;
        }
        .spinner-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}